certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
idna==3.6
numpy==2.1.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.1
requests==2.31.0
setuptools==68.2.2
six==1.16.0
tzdata==2024.2
urllib3==2.1.0
wheel==0.41.2
